pytest
fastapi
httpx
anyio
rapidfuzz
faster-whisper
librosa
soundfile
numpy
requests
python-multipart
gTTS
chromadb
sqlalchemy
psycopg2-binary
python-jose[cryptography]
bcrypt
email-validator
pypdf
boto3
langchain
langchain-community
websockets
passlib[bcrypt]silero-vad
psycopg[binary]
sentence-transformers
pdfminer.six
python-docx
